# Relatorio de Analise IV

In [1]:
## selecao e frequencia

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22802,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22803,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22804,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22805,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22806,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [14]:
## Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados.Tipo == 'Apartamento'
n1 = dados[selecao]
n1

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22800,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
22802,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22804,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22805,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22806,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [15]:
## Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

selecao = (dados.Tipo == 'Casa') | (dados.Tipo == 'Casa de Condomínio') | (dados.Tipo == 'Casa de Vila')
n2 = dados[selecao]
n2

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
15,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
19,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
...,...,...,...,...,...,...,...,...,...
22772,Casa de Condomínio,Freguesia (Jacarepaguá),3,3,1,155,2000.0,530.0,1250.0
22774,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
22782,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
22785,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
22801,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0

In [23]:
## Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

selecao = (dados.Area >= 60) & (dados.Area <= 100)
n3 = dados[selecao]
n3

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...,...
22795,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
22797,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
22802,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22804,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22806,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [21]:
## Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

selecao = (dados.Quartos == 4) & (dados.Valor <=2000)
n4 = dados[selecao]
n4

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
486,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,830.0,NaN
1009,Apartamento,Taquara,4,1,1,110,1900.0,NaN,NaN
1633,Apartamento,Tijuca,4,1,0,160,2000.0,1032.0,1056.0
1981,Casa,Campo Grande,4,1,4,100,1600.0,NaN,NaN
2071,Apartamento,Tijuca,4,1,2,190,2000.0,1247.0,353.0
2123,Casa,Engenho de Dentro,4,3,0,120,1500.0,NaN,NaN
2221,Apartamento,Recreio dos Bandeirantes,4,2,2,125,1700.0,NaN,90.0
2409,Apartamento,Recreio dos Bandeirantes,4,4,1,145,2000.0,1350.0,390.0
3583,Apartamento,Barra da Tijuca,4,2,2,114,2000.0,1174.0,130.0
3990,Casa,Campo Grande,4,1,0,140,1700.0,NaN,NaN
3991,Apartamento,Campo Grande,4,2,1,115,1900.0,500.0,NaN
4285,Casa,Campo Grande,4,4,4,100,2000.0,NaN,2.0
4395,Apartamento,Recreio dos Bandeirantes,4,2,1,105,1900.0,1492.0,205.0
4493,Casa,Taquara,4,1,0,120,2000.0,633.0,NaN
5143,Apartamento,Cidade Nova,4,0,0,110,1300.0,NaN,NaN
5558,Apartamento,Recreio dos Bandeirantes,4,2,2,153,2000.0,1414.0,352.0
5613,Apartamento,Tijuca,4,2,1,188,2000.0,2000.0,309.0
6598,Apartamento,Pechincha,4,1,2,178,1900.0,1100.0,270.0
6877,Casa,Riachuelo,4,0,1,100,1800.0,NaN,40.0
6888,Casa,Méier,4,1,1,125,1900.0,NaN,NaN
7709,Apartamento,Recreio dos Bandeirantes,4,2,3,280,1800.0,1400.0,580.0
7736,Apartamento,Recreio dos Bandeirantes,4,3,2,250,1500.0,1380.0,700.0
7957,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1093.0,183.0
10229,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1038.0,158.0
11052,Casa de Condomínio,Taquara,4,1,0,110,1750.0,550.0,993.0
11207,Apartamento,Tijuca,4,2,1,188,2000.0,2000.0,309.0
11620,Apartamento,Copacabana,4,1,0,180,2000.0,1924.0,423.0
12118,Apartamento,Leme,4,0,1,185,1800.0,2000.0,270.0
12389,Apartamento,Tijuca,4,2,1,188,2000.0,2000.0,3090.0
12671,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,930.0,150.0
13462,Apartamento,Camorim,4,1,1,96,1350.0,747.0,NaN
13685,Apartamento,Recreio dos Bandeirantes,4,2,2,153,2000.0,1534.0,387.0
13813,Apartamento,Barra da Tijuca,4,3,4,148,1600.0,1766.0,NaN
13971,Apartamento,Recreio dos Bandeirantes,4,4,2,162,2000.0,1400.0,380.0
14186,Casa,Praça Seca,4,1,1,128,1600.0,NaN,228.0
15142,Casa de Condomínio,Freguesia (Jacarepaguá),4,2,1,120,1800.0,195.0,30.0
15165,Casa,Pedra de Guaratiba,4,1,0,100,1300.0,NaN,NaN
15695,Apartamento,Tijuca,4,2,1,188,2000.0,2000.0,380.0
16078,Apartamento,Campo Grande,4,2,2,160,1900.0,880.0,NaN
16199,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,912.0,160.0
16306,Apartamento,Rio Comprido,4,1,0,110,1650.0,500.0,NaN
16973,Casa,Campo Grande,4,3,0,120,1700.0,NaN,NaN
17345,Apartamento,Recreio dos Bandeirantes,4,2,2,155,2000.0,800.0,237.0
17950,Apartamento,Taquara,4,3,1,190,1200.0,NaN,NaN
18071,Casa,Campo Grande,4,0,1,366,1890.0,NaN,208.0
18327,Casa,Campo Grande,4,0,0,159,1800.0,NaN,NaN
18462,Casa,Braz de Pina,4,1,0,99,1800.0,NaN,NaN
18645,Casa,Campo Grande,4,1,3,100,1600.0,NaN,NaN
18864,Casa de Condomínio,Freguesia (Jacarepaguá),4,3,1,63,2000.0,416.0,NaN
19597,Casa,Campo Grande,4,1,2,180,1850.0,300.0,NaN
20380,Apartamento,Campo Grande,4,1,1,80,1600.0,950.0,NaN
21139,Apartamento,Campo Grande,4,2,1,140,2000.0,600.0,NaN
21185,Apartamento,Barra da Tijuca,4,3,4,148,1500.0,1600.0,196.0
21691,Apartamento,Vargem Grande,4,0,1,180,1900.0,NaN,176.0
22003,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,1038.0,NaN
22157,Casa,Campo Grande,4,2,0,120,1600.0,NaN,NaN

In [30]:
print("Nº de imóveis classificados com tipo 'Apartamento' -> {}".format(n1.shape[0]))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> {}".format(n2.shape[0]))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3.shape[0]))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4.shape[0]))

Nº de imóveis classificados com tipo 'Apartamento' -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> 1963
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8882
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 56

In [29]:
n1.shape[0]

19532